<!DOCTYPE html>
<html lang='en'>

<head>
  <meta charset='UTF-8'>
  <meta name='viewport'
        content='width=device-width, initial-scale=1.0'>
  <meta http-equiv='X-UA-Compatible'
        content='ie=edge'>
  <title>Constrain movement demo</title>
  <link rel='stylesheet'
        href='http://kendo.cdn.telerik.com/2020.2.617/styles/kendo.common.min.css' />
  <link rel='stylesheet'
        href='http://kendo.cdn.telerik.com/2020.2.617/styles/kendo.default.min.css' />
  <link rel='stylesheet'
        href='http://kendo.cdn.telerik.com/2020.2.617/styles/kendo.mobile.all.min.css' />
  <link rel='stylesheet'
        href='/assets/examples.css' />
  <script
          src='http://kendo.cdn.telerik.com/2020.2.617/js/jquery.min.js'></script>
  <script
          src='http://kendo.cdn.telerik.com/2020.2.617/js/kendo.all.min.js'></script>
  <script src='/assets/console.js'></script>
  <script
          src='/out/kendoui-components.js'></script>
</head>

<body>
  <div id="example">
    <div id="container">
      <k-window id='window'
                width='300px'
                height='200px'
                draggable='{containment:"#container"}'
                title='About Alvar Aalto'
                actions='["Minimize", "Maximize", "Pin"]'>
        <p>Alvar Aalto is one of the greatest
          names
          in modern architecture and design.
          Glassblowers at the iittala factory
          still
          meticulously handcraft the legendary
          vases
          that are variations on one theme, fluid
          organic shapes that let the end user
          decide the use.
        </p>
      </k-window>
    </div>

    <script>
      $(document).ready(function () {
        $("#window").data("kendoWindow").open();
      });
    </script>

    <style>
      #container {
        height: 400px;
        width: 600px;
        position: relative;
        border: 1px solid rgba(20, 53, 80, 0.14);
      }
    </style>
  </div>
</body>

</html>